services:
  kafka:
    image: bitnamilegacy/kafka:latest
    ports:
      - "9092:9092"
    volumes:
      - kafka_data:/bitnami/kafka
      - ./ssl_certs:/bitnami/kafka/config/certs
    environment:
      # --- KRAFT MODE ---
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093

      # --- LISTENERS ---
      - KAFKA_CFG_LISTENERS=SASL_SSL://:9092,CONTROLLER://:9093,INTERNAL://:29092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,SASL_SSL:SASL_SSL,INTERNAL:PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=SASL_SSL://#############:9092,INTERNAL://kafka:29092
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=INTERNAL

      # --- AUTHENTICATION ---
      - KAFKA_CFG_SASL_ENABLED_MECHANISMS=PLAIN,SCRAM-SHA-256
      - KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL=PLAIN
      - KAFKA_CLIENT_USERS==#############,###############
      - KAFKA_CLIENT_PASSWORDS=#############,###############

      # --- SSL CONFIGURATION (JKS) ---
      - KAFKA_CFG_SSL_KEYSTORE_TYPE=JKS
      - KAFKA_CFG_SSL_KEYSTORE_LOCATION=/bitnami/kafka/config/certs/kafka.keystore.jks
      - KAFKA_CFG_SSL_KEYSTORE_PASSWORD==#############

      - KAFKA_CFG_SSL_TRUSTSTORE_TYPE=JKS
      - KAFKA_CFG_SSL_TRUSTSTORE_LOCATION=/bitnami/kafka/config/certs/kafka.truststore.jks
      - KAFKA_CFG_SSL_TRUSTSTORE_PASSWORD=#############

      - KAFKA_CFG_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM=

volumes:
  kafka_data: